{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}

    <div class="bradcam_area breadcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <!-- <h3>Contact Us</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section section_padding">
        <div class="container">
            <div class="wrap cf">
                <h1 class="projTitle"> لیست خرید محصول های آموزشی </h1>
                <div class="heading cf">
                    <h1>لیست خرید </h1>
                    <a href="{% url 'shop:products' %}" class="continue">ادامه خرید </a>
                </div>
                <div class="cart">
                    <ul class="cartWrap">
                        {% for item in cart %}
                            {% with product=item.product %}
                                <li class="items odd">

                                    <div class="infoWrap">
                                        <div class="cartSection">
                                            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt=""
                                                 class="itemImg"/>
                                            <p class="itemNumber">{{ product.slug }}</p>
                                            <h3>{{ product.titleo }}</h3>

                                            <p><input type="text" class="qty"
                                                      placeholder="{{ item.quantity }}"/>{{ product.price }}$</p>
                                            {% if product.available %}
                                                <p class="stockStatus"> موجود</p>
                                            {% else %}
                                                <p class="stockStatus">ناموجود</p>
                                            {% endif %}
                                        </div>


                                        <div class="prodTotal cartSection">
                                            <p>{{ item.total_price }}</p>
                                        </div>
                                        <div class="cartSection removeWrap">
                                            <a href="{% url 'cart:cart_remove' product.slug %}" class="remove">x</a>
                                        </div>
                                    </div>
                                </li>
                            {% endwith %}
                        {% endfor %}



                        <!--<li class="items even">Item 2</li>-->

                    </ul>
                </div>

                <div class="promoCode"><label for="promo">کد تخفیف دارید؟</label><input type="text" name="promo"
                                                                                        placholder="Enter Code"/>
                    <a href="#" class="btn"></a></div>

                <div class="subtotal cf">
                    <ul>
                        <li class="totalRow"><span class="label">موضوع</span><span
                                class="value">{{ cart.get_total_price }}</span></li>

                        <li class="totalRow"><span class="label">پرداختی</span><span
                                class="value">{{ cart.get_total_price }}</span></li>

                        <li class="totalRow"><span class="label">مالیات</span><span class="value">$4.00</span></li>
                        <li class="totalRow final"><span class="label">جمع کل</span><span
                                class="value">{{ cart.get_total_price }}</span>
                        </li>

                        <li class="totalRow">
                            {% if user.is_authenticated %}
                                <a class="btn icon-left float-right mt-3" href="{% url 'shop:order_create' %}"><span>پرداخت</span></a>
                            {% else %}
                                <a class="btn icon-left float-right mt-3" href="{% url 'accounts:register' %}"><span>ورود به سایت </span></a>

                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
