{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact-section section_padding">
        <div class="container">
            <div class="row">
                {% include 'partials/aside.html' %}
                <div class="col-md-8">
                    <div class="products">
                        {% for product in products %}
                            <div class="col-sm-3 blog-shop">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src=
                                                     {% for pic in product.pictures.all %}{% if forloop.first %} {{ pic.picture.url }} {% endif %}{% endfor %} class="img-responsive"
                                             alt="a"/>
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-12">
                                                <h5>
                                                    <a href="{{ product.get_absolute_url }}">
                                                        {{ product.title }}
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-12">
                                                <h5 class="price-text-color">{{ product.price }}</h5>
                                            </div>
                                        </div>
                                        <form action="{% url 'shop:product' product.slug %}">
                                            <div class="separator clear-left">
                                                <button class="btn-add button button-contactForm btn_4 boxed-btn">
                                                    اضافه کردن
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
