{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}

    <div class="bradcam_area breadcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <!-- <h3>Contact Us</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact-section section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-shop">
                        <div><h4>جزئیات محصول</h4></div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row product-summary my-3">
                                    <div class="col-md-3"><img class="product-image" alt="numbr" src="


                                            {% for pic in product.pictures.all %}{% if forloop.first %} {{ pic.picture.url }} {% endif %}{% endfor %}"/>
                                    </div>
                                    <div class="col-md-9">
                                        <h4>{{ product.title }}</h4>

                                        <hr/>
                                        {{ product.content|safe }}
                                    </div>

                                </div>
                                <hr/>
                                <div class="row">
                                    <form action="{% url 'cart:cart_add' product.slug %}" method="post">
                                        <div class="col-md-6">
                                            {% csrf_token %}
                                            {{ cart_add_product_form }}
                                            <button class="btn btn-danger m-4 px-5 py-2"
                                                    style="font-family: 'ravi-thin';">خرید
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cost-summary my-3">
                                    <div>
                                        <p>قیمت کالا</p>
                                        <p class="float-left"> ریال </p>
                                        <p class="float-left"> {{ product.price }} </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
