{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}
<div class="bradcam_area breadcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form method="POST" action="{% url 'news:search_posts' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="search_content" placeholder='بنویس ، تا کمکت کنم..' />
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">جستجو</button>
                        </form>
                    </aside>
            
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">دسته بندی</h4>
                        <ul class="list cat-list">
                            {% for category in categories %}
                                <li>
                                    <a href="{{ category.get_absolute_url }}" class="d-flex">
                                        <p style="margin-left: 5px;">{{ category.title }}</p>
                                        <p>( {{ category.count_posts }} )</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
            
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">پست های اخیر و مهم</h3>
                        {% for post in recent_posts %}
                            <div class="media post_item">
                                {% if post.pictures %}
                                    <a href="{{ post.get_absolute_url }}">
                                        <img style="width:50px; height: 50px;"  class="img-fluid card-img rounded-0" src="{% for pic in post.pictures.all %}{% if forloop.first %} {{ pic.picture.url }} {% endif %}{% endfor %}" alt="" />
                                    </a>
                                {% else %}
                                    <a href="{{ post.get_absolute_url }}">
                                        <img style="width:50px; height: 50px;"  class="img-fluid card-img rounded-0" src="{{ post.pictures.url }}" alt="" />
                                    </a>
                                {% endif %}
            
                                <div class="media-body" style="margin-right: 10px;">
                                    <a href="{{ post.get_absolute_url }}">
                                        <h3>{{ post.title }}</h3>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </aside>
                </div>
            </div>
            
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        {% if post.pictures %}
                            <img  class="img-fluid card-img rounded-0" src="{% for pic in post.pictures.all %}{% if forloop.first %} {{ pic.picture.url }} {% endif %}{% endfor %}" alt="" />
                        {% else %}
                            <img  class="img-fluid card-img rounded-0" src="{{ post.picture.url }}" alt="" />
                        {% endif %}
                    </div>
                    <br />
                    <div class="ck_beautify">
                        <h2>
                            {{ post.title }}
                        </h2>
                        {{ post.content|safe }}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}