{% load static %}


<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
        <div class="container-fluid p-0">
            <div class="row align-items-center no-gutters">
                <div class="col-lg-1 col-md-1">
                    <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <a href="/">
                            <img src="{% static 'assets/img/header/LOGO.png' %}" alt=""></img>
                        </a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9">
                    <div class="menu_links">                         
                        <ul>
                            <li class="{% if view.page_name == 'خانه' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s"><a href="{% url 'pages:home' %}">خانه</a></li>
                            <li class="{% if view.page_name == 'تکنوفاند' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s"><a href="{% url 'technofund:posts' %}">تکنوفاند </a></li>
                            <li class="{% if view.page_name == 'آموزش' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s"><a href="{% url 'tutorial:posts' %}"> آموزش </a></li>
                            <li class="{% if view.page_name == 'عرضه اولیه' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s"><a href="{% url 'market:primary-market' %}">عرضه اولیه</a></li>
                            <li class="{% if view.page_name == 'آکادمی' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s"><a href="{% url 'shop:products' %}">آکادمی</a></li>
                            <li class="{% if view.page_name == 'اخبار' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".7s"><a href="{% url 'news:posts' %}">اخبار</a></li>
                            <li class="{% if view.page_name == 'تماس با ما' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".8s"><a href="{% url 'pages:contact' %}">تماس با ما</a></li>
                            <li class="{% if view.page_name == 'درباره با ما' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay=".9s"><a href="{% url 'pages:about' %}">درباره با ما</a></li>
                            <li class="{% if view.page_name == 'افتتاح حساب آنلاین' %}say_hi {% endif %} wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s"><a href="{% url 'pages:open-account' %}">افتتاح حساب آنلاین</a></li>
                               
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12">
                    <div class="socail_links">
                        <ul>
                            <li><a href="https://www.instagram.com/smartbourse/?hl=en" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s"> <i class="fa fa-instagram"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center wow fadeInUp" style="direction: rtl;" data-wow-duration="1s" data-wow-delay="1.3s"><script> </script> تمامی حق و حقوق این سایت محفوظ می باشد. توسط <a href="https://smartbourse.com" target="_blank">SmartBourse  2019 &copy;</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->