{% load static %}

<div class="header-main">
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-1 col-md-1 col-lg-1">
                        <div class="logo-img" style="padding: 40px 0 0 0">
                            <a href="">
                                <img src="{% static 'assets/img/header/LOGO.png' %}" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-md-9 col-lg-9">
                        <div class="main-menu  d-none d-lg-block text-center">
                            <nav>
                                <ul id="navigation">
                                    <li {% if view.page_name == 'خانه' %}class="say_hi"{% endif %}><a href="{% url 'pages:home' %}">خانه</a></li>
                                    <li {% if view.page_name == 'تکنوفاند' %}class="say_hi"{% endif %}><a href="{% url 'technofund:posts' %}">تکنوفاند </a></li>
                                    <li {% if view.page_name == 'آموزش' %}class="say_hi"{% endif %}><a href="{% url 'tutorial:posts' %}"> آموزش </a></li>
                                    <li {% if view.page_name == 'عرضه اولیه' %}class="say_hi"{% endif %}><a href="{% url 'market:primary-market' %}">عرضه اولیه</a></li>
                                    <li {% if view.page_name == 'آکادمی' %}class="say_hi"{% endif %}><a href="{% url 'shop:products' %}">آکادمی</a></li>
                                    <li {% if view.page_name == 'اخبار' %}class="say_hi"{% endif %}><a href="{% url 'news:posts' %}">اخبار</a></li>
                                    <li {% if view.page_name == 'تماس با ما' %}class="say_hi"{% endif %}><a href="{% url 'pages:contact' %}">تماس با ما</a></li>
                                    <li {% if view.page_name == 'درباره با ما' %}class="say_hi"{% endif %}><a href="{% url 'pages:about' %}">درباره با ما</a></li>
                                    <li {% if view.page_name == 'افتتاح حساب آنلاین' %}class="say_hi"{% endif %}><a href="{% url 'pages:open-account' %}">افتتاح حساب آنلاین</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 d-none d-lg-block">
                        <div class="log_chat_area d-flex align-items-end">

                            <!-- <a href=""><i class="fa fa-shopping-basket"><i class="fa fa-circle"></i></i></a> -->
                            <div class="log_chat_area d-flex align-items-end" style="margin-right: 10px;">
                                <a href="#" data-scroll-nav="0">ورود / عضویت </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>