{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}
<div class="bradcam_area breadcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            {% include 'partials/aside.html' %}
            
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        {% if post.pictures %}
                            <img  class="img-fluid card-img rounded-0" src="{% for pic in post.pictures.all %}{% if forloop.first %} {{ pic.picture.url }} {% endif %}{% endfor %}" alt="" />
                        {% else %}
                            <img  class="img-fluid card-img rounded-0" src="{{ post.picture.url }}" alt="" />
                        {% endif %}
                    </div>
                    <br />
                    <div class="ck_beautify">
                        <h2>
                            {{ post.title }}
                        </h2>
                        {{ post.content|safe }}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}