{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}
<div class="bradcam_area breadcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            {% include 'partials/aside.html' %}
            {% for post in posts %}
                <div class="col-lg-4" style="float:right;">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">

                                {% if post.pictures %}
                                    <a href="{{ post.get_absolute_url }}">
                                        <img  class="img-fluid card-img rounded-0" src="{% for pic in post.pictures.all %}{% if forloop.first %} {{ pic.picture.url }} {% endif %}{% endfor %}" alt="" />
                                    </a>
                                {% else %}
                                    <a href="{{ post.get_absolute_url }}">
                                        <img  class="img-fluid card-img rounded-0" src="{{ post.picture.url }}" alt="" />
                                    </a>
                                {% endif %}


                            </div>

                            <div class="blog_details">
                                <a href="{{ post.get_absolute_url }}" class="d-inline-block">
                                    <h2>{{ post.title }}</h2>
                                </a>
                                <p>{{ post.summary }}</p>
                                <ul class="blog-info-a">
                                    <li><a href="{{ post.get_absolute_url }}"><i class="fa fa-angle-left"></i> بیشتر بدانید ...</a></li>
                                </ul>
                            </div>
                        </article>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}