{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> اسمارت بورس | {{ view.page_name }}</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-CKHFSO+alj8INnPTr6aTHcZfWxiUMck+E/gmzluv3nw0QiPeBS2hRjV8ImTZS5Yd" crossorigin="anonymous" />
   <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
    
    {% block styles %}
    {% endblock %}
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% include 'partials/header.html' %}
    
    {% block body %}
    {% endblock %}
    
    {% include 'partials/footer.html' %}
    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
    <!-- JS here -->
    <!-- <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/js/popper.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/js/bootstrap.min.js' %}"></script> -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/scrollIt.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>


    {% block scripts %}
    {% endblock %}

    <script>
        $( document ).ready(
            $('.tp-parallax-container').css({
                
            })
        )
    </script>
</body>

</html>