.title-shop {
    text-align: right;
    direction: rtl;
}

.products {
    .blog-shop {
        margin: 0px 0px 30px 0px;
        float: right;
    }

    .col-item {

        
        // .btn-add
        //     {
        //         border-right: 1px solid #E1E1E1;
        //     }
        .btn-details {
            width: 50%;
            float: left;
            padding-left: 10px;
        }

        .rating {
            /*width: 50%;*/
            float: left;
            font-size: 17px;
            text-align: right;
            line-height: 52px;
            margin-bottom: 10px;
            height: 52px;
        }

        .clear-left {
            clear: left;
        }

        .separator {
            border-top: 1px solid #E1E1E1;

            button {
                line-height: 20px;
                margin-bottom: 0;
                text-align: center;
                width: 100%;

                i {
                    margin-right: 5px;
                }
            }

            &:hover {

                a {
                    color: #fff;
                }
            }

            p {
                line-height: 20px;
                margin-bottom: 0;
                margin-top: 10px;
                text-align: center;
                width: 50%;
                float: left;

                i {
                    margin-right: 5px;
                }
            }

        }


        border: 1px solid #E1E1E1;
        border-radius: 5px;
        background: #FFF;

        .photo img {
            margin: 0 auto;
            width: 100%;
        }

        .info {
            padding: 10px;
            border-radius: 0 0 5px 5px;
            margin-top: 1px;

            .rating {
                color: #777;
                margin-top: 5px;
            }

            .price {
                /*width: 50%;*/
                text-align: right;
                direction: rtl;
                margin-top: 5px;

                h5 {
                    line-height: 20px;
                    margin: 0;
                }
            }

            .price-text-color {
                color: #615CFD;
            }
        }
    }

    
}