/* Error: Undefined variable.
 *     ,
 * 116 |     @media #{$mobile_device} {
 *     |              ^^^^^^^^^^^^^^
 *     '
 *   media\static\assets\scss\theme-default.scss 116:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 116 \2502      @media #{$mobile_device} {\d\a     \2502               ^^^^^^^^^^^^^^\a     \2575 \a   media\\static\\assets\\scss\\theme-default.scss 116:11  root stylesheet";
}
