{% extends 'shared/_site.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}
<div class="bradcam_area breadcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <iframe title="smartboursetitle"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d481.2875550425989!2d51.40290172322176!3d35.75808345729287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e06ee45992df3%3A0xbf50d16807de538d!2z2YfZhNiv24zZhtqvINi52YXYsdin2YYg2Ygg2LPYp9iu2KrZhdin2YYg2KrYsdin2LIg2b7bjCDYsduM2LIgKCDYtdmG2K_ZiNmCINio2KfYstmG2LTYs9iq2q_bjCDaqdi02YjYsduMICk!5e0!3m2!1sen!2sca!4v1588599870802!5m2!1sen!2sca"
                width="1100" height="400" frameBorder="0" style="border:0" aria-hidden="false"></iframe>

        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">تماس با ما</h2>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body"  style="margin-right: 10px;">
                        <h3>تهران , ملاصدرا</h3>
                        <p>زاینده رود غربی , پلاک ۴</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body" style="margin-right: 10px;">
                        <h3>۴۵۴۳۲۳۴۵ - ۰۲۱</h3>
                        <p>شنبه تا چهارشنبه </p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body" style="margin-right: 10px;">
                        <h3>smartbourse@gmail.com</h3>
                        <p>در هر زمان درخواست خود را برای ما ارسال کنید!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form class="form-contact contact_form" action="{% url 'pages:contact' %}" method="post"
                    id="contactForm">
                    <div class="row">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}


                        {% csrf_token %}
                        <input type="hidden" name="g-recaptcha-response" id='recaptcha'>

                        {% for field in form.visible_fields %}
                            {% if forloop.counter <= 2 %}
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {% render_field field class="form-control" placeholder=field.label %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-12">
                                        <div class="form-group">
                                            {% render_field field class="form-control" placeholder=field.label %}
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="button button-contactForm btn_4 boxed-btn"> ارسال پیام</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</section>
{% endblock %}