{% extends 'shared/_site.html' %}
{% load static %}

{% block styles %}
<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css"
    href="{% static 'assets/plugins/slider-revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
<link rel="stylesheet" type="text/css"
    href="{% static 'assets/plugins/slider-revolution/fonts/font-awesome/css/font-awesome.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slider-revolution/css/settings.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slider-revolution/css/layers.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slider-revolution/css/navigation.css' %}" />
<script type="text/javascript" src="{% static 'assets/plugins/slider-revolution/js/jquery.themepunch.tools.min.js' %}">
</script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="{% static 'assets/plugins/slider-revolution/revolution-addons/paintbrush/css/revolution.addon.paintbrush.css' %}" />
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/revolution-addons/paintbrush/js/revolution.addon.paintbrush.min.js' %}">
</script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js' %}">
</script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/plugins/slider-revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

<script type="text/javascript">
    function setREVStartSize(e) {
        try {
            e.c = jQuery(e.c);
            var i = jQuery(window).width(),
                t = 9999,
                r = 0,
                n = 0,
                l = 0,
                f = 0,
                s = 0,
                h = 0;
            if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e
                .gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e
                .sliderLayout) {
                var u = (e.c.width(), jQuery(window).height());
                if (void 0 != e.fullScreenOffsetContainer) {
                    var c = e.fullScreenOffsetContainer.split(",");
                    if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e
                        .fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) /
                        100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e
                            .fullScreenOffset, 0))
                }
                f = u
            } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
            e.c.closest(".rev_slider_wrapper").css({
                height: f
            })
        } catch (d) {
            console.log("Failure at Presize of Slider:" + d)
        }
    };
</script>
<style type="text/css">
    #rev_slider_44_1 .uranus.tparrows {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0)
    }

    #rev_slider_44_1 .uranus.tparrows:before {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 40px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s
    }

    #rev_slider_44_1 .uranus.tparrows:hover:before {
        opacity: 0.75
    }
</style>
{% endblock %}

{% block body %}

{% include 'partials/slider.html' %}

<div class="how_we_work_area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5">
                <div class="work_info">
                    <div class="section_title">
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">درباره ما</h3>
                        <p class="mid_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">مجموعه اسمارت
                            رویکرد جدید را با ارایه راهکارهای مبتنی بر هوش ماشین در معاملات سهام ارایه داده است در همین
                            راستا با شناسایی تحرکات بازار و الگوریتمهای معاملاتی مطلوب استراتژیهای معاملاتی مناسب جهت
                            اخذ تصمیمات مناسب در بازار سهام صورت میپذیرد</p>
                        <p class="last_p wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">دیگر حوزه فعالیت
                            مجوعه اسمارت در زمینه آموزشهای مرتبط با بازار سهام در زمینه های مختلف میباشد مجموعه اسمارت
                            بورس در زمینه توسعه بازار سهام و معرفی آن به آحاد مردم و ارایه تحلیلهای آموزشی فعال میباشد.
                        </p>
                    </div>
                    <div class="video_watch d-flex align-items-center">
                        <div href="" class="linkstyle">
                            <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s"> بیشتر
                                بدانید</span>
                            <div class="play_btn wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
                                <a class="video_icon popup-video"> <i class="fa fa-arrow-left"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service_area container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="section_title text-center mb-70">
                <h3 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">
                    خدمات ما</h3>
                <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">مجموعه اسمارت رویکرد جدید را با
                    ارایه راهکارهای مبتنی بر هوش ماشین در معاملات سهام ارایه داده است در همین راستا با شناسایی تحرکات
                    بازار و الگوریتمهای معاملاتی مطلوب استراتژیهای معاملاتی مناسب جهت اخذ تصمیمات مناسب در بازار سهام
                    صورت میپذیرد</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-3">
            <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
                <div class="icon">
                    <img src="{% static 'assets/img/svg_icon/tutorial.svg' %}" alt="" />
                </div>
                <h3>اموزش بورس</h3>
                <p>مجموعه اسمارت بورس در زمینه توسعه بازار سهام و معرفی آن به آحاد مردم و ارایه تحلیلهای آموزشی فعال
                    میباشد.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="icon">
                    <img src="{% static 'assets/img/svg_icon/news.svg' %}" alt="" />
                </div>
                <h3>اخبار</h3>
                <p>مجموعه اسمارت بورس در زمینه توسعه بازار سهام و معرفی آن به آحاد مردم و ارایه تحلیلهای آموزشی فعال
                    میباشد.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                <div class="icon">
                    <img src="{% static 'assets/img/svg_icon/brain.svg' %}" alt="" />
                </div>
                <h3>هوش ماشین</h3>
                <p>مجموعه اسمارت بورس در زمینه توسعه بازار سهام و معرفی آن به آحاد مردم و ارایه تحلیلهای آموزشی فعال
                    میباشد.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                <div class="icon">
                    <img src="{% static 'assets/img/svg_icon/algoritm.svg' %}" alt="" />
                </div>
                <h3>الگوریتم تریدینگ </h3>
                <p>مجموعه اسمارت بورس در زمینه توسعه بازار سهام و معرفی آن به آحاد مردم و ارایه تحلیلهای آموزشی فعال
                    میباشد.</p>
            </div>
        </div>
    </div>
</div>
<div class="about_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="about_info">
                    <div class="section_title white_text">
                        <!-- {/* <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">به اسمارت بورس خوش آمدید</span> */} -->
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">به اسمارت بورس خوش آمدی
                        </h3>
                        <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">مجموعه اسمارت بورس
                            در زمینه پیاده سازی Machine Learning، هوش مصنوعی و الگوریتم تریدینگ، توسعه و معرفی بازار
                            سهام و آموزش فعال است در حوزه Machine learning و هوش مصنوعی با بگارگیری نیروهای متخصص از
                            دانشگاههای برتر کشور حرکت سازنده، مبتنی بر دانش روز دنیا و تجربیات ارزشمند از بازار ایران
                            شروع شده </p>
                        <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">و در حال رسیدن به
                            نتایج درخشان در راستای معاملات مبتنی بر ماشین با بازدهی مستمر و بالا می باشد توسعه بازار
                            سهام با هدف معرفی این بازار پرسود به عموم جامعه از دیگر فعالیتهای مجموعه است بدیهی است</p>
                        <div class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s"><a
                                href="">بیشتر بدانید</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio_image_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-90">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">اخبار </h3>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">مجموعه اسمارت رویکرد جدید را با
                        ارایه راهکارهای مبتنی بر هوش ماشین در معاملات سهام ارایه داده است</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for news in recent_news %}
                {% if forloop.first %}
                    <div class="col-lg-8 col-md-12">
                        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="portfolio_thumb">
                                <img src="{{ news.picture.url }}" alt="">
                            </div>
                            <div class="portfolio_hover">
                                <div class="title">
                                    <span>{{ news.title }}</span>
                                    <h3>{{ news.summary }}</h3>
                                    <a class="boxed-btn3" href="{{ news.get_absolute_url }}">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="portfolio_thumb">
                                <img src="{{ news.picture.url }}" alt="">
                            </div>
                            <div class="portfolio_hover">
                                <div class="title">
                                    <span>{{ news.title }}</span>
                                    <h3>{{ news.summary|safe }}</h3>
                                    <a class="boxed-btn3" href="{{ news.get_absolute_url }}">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="team_area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-90">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"> تکنوفاند </h3>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">پاسار شکست سقف و شکل گیری سقفی
                        بالاتر از سقف قبلی با شکست</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in technofund %}
                <div class="col-lg-3 col-md-6">
                    <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                        <div class="team_thumb">
                            <img src="{{ post.picture.url }}" alt="" />
                            <div class="team_hover">
                                <div class="hover_inner text-center">
                                </div>
                            </div>
                        </div>
                        <div class="team_title text-center">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.summary|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div data-scroll-index="" class="get_in_tauch_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-90">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">با ما در تماس باشید</h3>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">مخاطب در این حوزه فعالیت مناسبی
                        را در شبکه های اجتماعی تلگرام و اینستاگرام دنبال میکند</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="touch_form">
                    <form method="post" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                    <input type="text" name='full_name' value="" placeholder="نام و نام خانوادگی" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                    <input type="email" name='email' value="" placeholder="ایمیل" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_input input wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay=".5s">
                                    <!-- {/* <label for="id_subject">از کجا با ما آشنا شدید</label> */} -->
                                    <select name='from_where' value="from_where" id="subject" aria-required="true"
                                        class="form-control required name" required="">
                                        <option value="از کجا با ما آشنا شدید" selected="از کجا با ما آشنا شدید"
                                            disabled>از کجا با ما آشنا شدید</option>
                                        <option value="">instagram</option>
                                        <option value=" ">google search</option>
                                        <option value="">Telegram</option>
                                        <option value=" ">from people</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                    <input type="text" name='subject' value="" placeholder="موضوع" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                    <textarea name='message' value="message" cols="30"
                                        placeholder="پیام خود را وارد کنید" rows="10"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                                    <button class="boxed-btn3" type="submit">ارسال پیام </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <!-- {successMessage  ? <Alerts  />:'' } -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}