{% extends 'shared/_site.html' %}
{% load static %}

{% block body %}
<div class="bradcam_area breadcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="accordion" id="{{ market.title }}" style="margin: 20px;">
        {% for market in primarymarkets %}
            {% if forloop.first %}
                <div class="card">
                    <div class="card-header" id="{{ market.title }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-right" type="button" data-toggle="collapse" style="direction: rtl;"
                                data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                {{ market.title }} | {{ market.abbrivation }}
                            </button>
                        </h2>
                    </div>
            
                    <div id="collapse{{ forloop.counter }}" class="collapse show" aria-labelledby="{{ market.title }}" data-parent="#{{ market.title }}">
                        <div class="card-body">
                            {{ market.content|safe }}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="card">
                    <div class="card-header" id="{{ market.title }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-right collapsed" type="button" data-toggle="collapse" style="direction: rtl;" data-target="#collapse{{ forloop.counter }}">
                            {{ market.title }} | {{ market.abbrivation }}
                        </button>
                    </h2>
                </div>
                
                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="{{ market.title }}" data-parent="#{{ market.title }}">
                    <div class="card-body">
                        {{ market.content|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}