{% extends 'shared/_site.html' %}
{% load static %}
{% block body %}
<<<<<<< HEAD
    <div class="bradcam_area breadcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="page-title">
        <div class="container">
            <div class="page-title">
                <h1>Shopping Cart</h1>
                <span>Shopping details</span>
            </div>
        </div>
=======
    <section id="page-title">
        <div class="container">
            <div class="page-title">
                <h1>Shopping Cart</h1>
                <span>Shopping details</span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Shop</a>
                    </li>
                    <li class="active"><a href="#">Shopping Cart</a>
                    </li>
                </ul>
            </div>
        </div>
>>>>>>> 3a6240b7f659fe216ca781feef4a14b7ab7f5d2b
    </section>


    <section id="shop-cart">
        <div class="container">
            <div class="shop-cart">
                <div class="table table-sm table-striped table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="cart-product-remove"></th>
                            <th class="cart-product-thumbnail">Product</th>
                            <th class="cart-product-price">Unit Price</th>
                            <th class="cart-product-subtotal">Quanity</th>
                            <th class="cart-product-subtotal">Product Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>

                                    <td class="cart-product-remove">
                                        <a href="{% url 'cart:cart_remove' product.slug %}"><i class="fa fa-times"></i></a>
                                    </td>
                                    <td class="cart-product-thumbnail">
                                        {% for pic in product.pictures.all %}
                                            {% if forloop.first %}
                                                <a href="{{ pic.picture.url }}">
                                                    <img src="{{ pic.picture.url }}" alt="{{ product.title }}">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="cart-product-thumbnail-name">{{ product.title }}</div>
                                    </td>
                                    <td class="cart-product-price">
                                        <span class="amount">{{ item.price }}</span>
                                    </td>
                                    <td class="cart-product-quantity">
                                        <span class="amount">{{ item.update_product_count_form.quantity }}</span>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">{{ item.total_price }}</span>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total Price:
                                {{ cart.get_total_price }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn">Update Card</button>

                    </div>
<<<<<<< HEAD
                </div>
                <div>
                    <button type="button"><a href="{% url 'shop:products' %}">Continue shoping</a></button>
                </div>
=======
                </div>
                <div>
                    <button type="button"><a href="{% url 'shop:products' %}">Continue shoping</a></button>
                </div>
>>>>>>> 3a6240b7f659fe216ca781feef4a14b7ab7f5d2b
                <div><a href="{% url 'shop:checkout' %}">Checkout</a></div>
            </div>
        </div>
    </section>
{% endblock %}